.menu-responsivo
    position: fixed
    width: 150px
    height: 100%
    left: -150px
    top: 0
    &.ativo
        left: 0
    ul
        li
            a
                padding: 7px
                diplay: block
                color: $black
                text-transform: uppercase
                &:hover,
                &focus
                    background-color: rgba($blue, .3)
                    padding: 4px
.layout
    &.ativo
        +transition(.4s)
        padding-left: 150px
    
.toggle
    span
        width: 100px
        height: 1px
        content: " "
        display: block
        background: $blue