.menu-responsivo
    position: fixed
    width: 150px
    height: 100%
    background-color: #FFF
    left: -150px
    top: 0
    &.ativo
        left: 0
    ul
        li
            a
                padding: 7px
                display: block
                color: $black
                text-transform: uppercase
                &:hover,
                &focus
                    background-color: rgba($blue, .3)
                    padding: 4px
.layout
    &.ativo
        +transition(.4s)
        background-color: $white
        // padding-left: 150pxs

    
.toggle
    display: none

    +breakpoint($celular)
        display: block
        position: absolute
        margin-left: 135px
    +breakpoint($tablet)
        display: block        
        position: absolute
        margin-left: 135px

    span
        width: 40px
        height: 1px
        content: " "
        display: block
        background: $blue

        &:nth-child(1)
            top: 4px
        &:nth-child(2)
            margin-top: 5px
        &:nth-child(3)
            margin-top: 5px