.menu-responsivo
    position: fixed
    width: 150px
    heigth: 100%
    left: 0
    top: 0
    ul
    	li
    		a
    			padding: 7px
    			diplay: block
    			color: $black
.layout
    padding-left: 150px
    
.toggle